/*not for popup style*/
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:light,thin);

	img#mgt{
	border-radius:10px;
	}

	div#pop_bg{
	opacity:0.6;
	background: #000;
	left: 0;
	position: absolute;
	top: 0;
	z-index: 500;
	display:none;
	height: 100%;
	width: 100%;
	cursor:pointer;
	}

	div#mgt_popup{
	background: #FFF;
	height:500px;
	width:500px;
	z-index:550;
	display:none;
	left: 42%;
	top: 52%;
	margin-left:-110px;
	margin-top:-228px;
	position: absolute;
	border: 5px solid #FFBC00;
	}

	/*.popup_close{
	height: 0px;
	width: 0px;
	position: absolute;
	top: 0px;
	left: 480px;
	opacity: 100;
	cursor:pointer;
	}*/


	input[type=button]{
	margin: 27px 0px 0px -40px;
	color: #fff;
	background-color: #FFBC00;
	border-color: #FFBC00;
	padding: 12px 130px;
	border:1px solid white;
	font-family:Josefin Sans !important;
	font-weight:bold;
	font-size:18px;
	color:white;
	}

	div#pop{
	width: auto;
	height: auto;
	padding-left: 17px;
	padding-top: 2px;
	}

	#pop_mail_read{
	margin: 75px 0 0 184px;
	}

	img#logo{
	margin: 37px 8px 26px 33%;
	}
	
	div#pop_inner{
	margin: 0 22%;
	text-align: center;
	}